# Dependencies
node_modules/
.pnpm-store/
pnpm-lock.yaml

# Development
.env*
.env.production
!.env.example
.vscode/

# Build
.next/
*.tsbuildinfo

# Database
prisma/prisma/dev.db
prisma/prisma/dev.db-journal

# Runtime
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo/

# Testing
coverage/
.nyc_output/

# Deployment
.vercel
.vercel/

# IDE & OS
*.sublime-project
*.sublime-workspace
.vscode/settings.json
thumbs.db